[scala]
        version: 2.10.2

[app]
        org: org.truffulatree
        name: h2odb_2.10
        version: 0.4.0-SNAPSHOT
        class: org.truffulatree.h2odb.Run
        cross-versioned: false

[repositories]
        local
        typesafe-ivy-releases: http://repo.typesafe.com/typesafe/ivy-releases/, [organization]/[module]/[revision]/[type]s/[artifact](-[classifier]).[ext]
        maven-central
        sonatype-snapshots: https://oss.sonatype.org/content/repositories/snapshots

[boot]
        directory: ${sbt.boot.directory-${sbt.global.base-${user.home}/.sbt}/boot/}
